:root {
  /* --light-cornflower-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --selective-yellow: #ffb703ff;
    --tangerine: #fb8500ff; */

  --paradise-pink: #ef476fff;
  --orange-yellow-crayola: #ffd166ff;
  --caribbean-green: #06d6a0ff;
  --blue-ncs: #118ab2ff;
  --midnight-green-eagle-green: #073b4cff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  transition: 1s;
}
.flex {
  display: flex;
  gap: 3vw;
}
.list{
  align-items: baseline;
  justify-content: flex-start;
}
.card {
  border-radius: 2vmin;
  box-shadow: 5px 10px 15px #ccc;
}
.itemTime{
  display:none;
}
.footer {
  color: #333;
  display: flex;
  justify-content: flex-end;
  margin-right: 1vw;
  gap: 2vmin;
}
input:active{
  border:none;
  outline:none;
}
input{
  border:none;
  outline:none;
}
.icon {
  width: 1.5vw;
  height: 1.5vw;
  max-width: 20px;
  max-height: 20px;
  margin-bottom: 1vmin;
  filter: invert(100%) sepia(0%) saturate(1564%) hue-rotate(331deg)
    brightness(112%) contrast(101%);
  cursor: pointer;
}

.trophyIcon{
    filter: none;
}
.form{
  color:#eee;
  text-align: center;
  flex-direction: column;
  gap:1vmin;
  width:50vw;
  max-width: 500px;
  margin:auto;
  margin-top: 20vh;
  padding:2vmin;
}
.form form{
  font-weight: 600;
  margin: auto;
  width:70%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  gap:2vmin;
}
.form form>input{
  border-radius: 5px;
  border:none;
  background-color: #eee;
}
.form form>button{
  color:var(--blue-ncs);
  width:30%;
  font-size: 1rem;
  padding:0.5vmin;
  grid-column: 1/3;
}
h3 {
  font-size: 2rem;
  font-weight: bolder;
  color: #eee;
  letter-spacing: 0.7rem;
  text-shadow: 1px 2px 3px #333;
}
#header {
  padding: 0vmin 5vw;
  background-color: var(--caribbean-green);
}
#tabs {
  margin-left: auto;
  gap: 0.5vmin;
}
.tab {
  border-radius: 1vmin 1vmin 0 0;
  background-color: #eee;
  text-align: center;
  height: 50%;
  width: 5vw;
  min-width: 100px;
  margin-top: auto;
  cursor: pointer;
}
.tab1 {
  background-color: var(--paradise-pink);
}
.tab2 {
  background-color: var(--orange-yellow-crayola);
}
.tab3 {
  background-color: var(--blue-ncs);
  color: #eee;
}
.tab3 img{
    width:3vw;
    height:3vw;
    max-width: 35px;
    max-height: 35px;
    margin: auto;
}
#addToList{
  display:none;
  background-image: linear-gradient(to left, #06d6a0ff,rgb(49, 189, 151));
}
#login{
  background-image: linear-gradient(to left,rgb(224, 58, 97), rgb(253, 98, 134));
}
#login form{
  grid-template-rows: auto;
  padding-bottom: 2vmin;
}
#body {
  opacity: 0;
  padding: 2vmax;
  flex-wrap: wrap;
  transition: 1s;
}
.bodyLeft {
  width: 15vw;
  flex: 0.5 1 auto;
  flex-direction: column;
}
.flexspecial{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:15vw;
}
#themeBox {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 20vmin;
  background-color: var(--orange-yellow-crayola);
  background-image: linear-gradient(to left, rgb(250, 194, 64), #ffd166ff);
  box-shadow: 2px 5px 15px #ccc;
  transition: 1s;
  cursor: pointer;
  text-align: center;
  font-size: max(1rem,1.5vw);
  flex-direction: column;
  justify-content: center;
  gap:0;
}
#themeBox form{
  display: none;
}
#themeTitle, #themeDes{
  line-height: 3vmin;
  color:#eee;
}
#themeDes{
  font-size: 0.7em;
}
.themeBoxActive{
  width:30vw !important;
  height:30vw !important;
  max-height: 75vh;
  transform: translate(10vw,5vh);
}
#themeEditIcon{
  filter: none !important;
  position: absolute;
  bottom:5%; right:10%;
}
#themeBox input{
  width:75%;
  height:auto;
  padding:5%;
  text-align: center;
  border:none;
  border-radius: 2vmin;
  background-color: rgba(0, 0, 0, 0);
  font-size: max(1rem,1.5vw);
}
#themeBox button{
  font-size: max(1rem,1.5vw);
  display:block;
  margin:auto;
  margin-top: 2vh;
  letter-spacing: 0.5vmin;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  color:var(--midnight-green-eagle-green);
  font-weight: 700;
}
#themeBox ~ p{
  margin-top: 5vw;
  display:none;
  width:30vw;
  opacity: 0.7;
  text-align: justify;
  line-height: 2vw;
  font-size: max(1.2vw,1rem);
}
#themeBox .footer {
  position: absolute;
  bottom: 1vmin;
  right: 0.5vmin;
}

#cjForm {
  flex-direction: column;
  gap: 1vmin;
}
.cjHead {
  gap: 1vw;
}
#gjText{
  color:var(--blue-ncs);
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  font-style: italic;
  display: none;
  cursor: pointer;
}
textarea {
  border: none;
  height: 20vh;
  width: 100%;
  font-size: 1.2rem;
  resize: none;
}
.cjBtns{
  gap:0;
  justify-content: flex-end;
}
.cjBtns button{
  margin:0;
}
.bodyMid {
  width: 50vw;
  flex: 1 1 auto;
    gap:1vmin;
  flex-direction: column;
}
.journal input {
  border: none;
  height: 5vmin;
  width: 100%;font-size: 1.2rem;
}
button {
  margin-left: auto;
  border-radius: 1vmin;
  padding: 1vmin 1.5vmin;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: var(--orange-yellow-crayola);
}
.cards2Col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3vw;
  justify-items: center;
}
.todoItem,
.projItem {
  max-width: 600px;
  flex-direction: column;
  gap: 0px;
  color: #eee;
  padding: 10px 15px;
  font-weight: bold;
  margin-bottom: 2vmin;
  background-image: linear-gradient(to left, #118ab2ff, rgb(44, 119, 145));
}
.projItem {
  background-image: linear-gradient(to left, #ef476fff, rgb(212, 104, 130));
}
.itemHead{
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color:#eee;
}
.todoItem .itemHead{
    text-transform: uppercase;
}
.itemBody{
    font-weight: 300;
}

.bodyRight {
  width: auto;
  min-width: 150px;
  margin-top: 9vh;
}
.status {
  flex-direction: column;
  gap:0;
  line-height: 0;
  padding: 1vmin;
  margin-bottom: 1vmin;
  background-image: linear-gradient(to left, rgb(86, 224, 187), rgb(63, 190, 157));
}
.status p{
  color:#eee;
  font-size: 0.8rem;
}
.status p:first-of-type{
  font-size: 1.2rem;
}
